<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Equipment Name"/>
      </h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Cost (Gold)</label>
      <input type="text" name="system.cost.gold" value="{{system.cost.gold}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Cost (Silver)</label>
      <input type="text" name="system.cost.silver" value="{{system.cost.silver}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Weight</label>
      <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Description</label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
